:root{
    --header-height: 2rem;
}
*{
    padding: 0;
    margin: 0;
    word-break: break-word;
}
body{
    margin: 0;
    min-height: 100vh;
}
@media screen and (max-width: 666px) {
    :root{
        font-size: 24px;
    }
    .ArticleCard,#headerMenu>div>div{
        font-size: .75rem;
    }
}

header{
    box-sizing: border-box;
    color: #fff;
    background-color: #4fa5a8;
    height: var(--header-height);
    width: 100%;
    padding: .25rem .5rem;
    position: absolute;
    z-index: 1;
}
#headerMenu{
    width: 100vw;
    position: fixed;
    transition: .3s;
    background:  #72ced1;
    top: var(--header-height);
    left: 0;
}
#headerMenu>div{
    padding: .5rem .5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#headerMenu>div>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 60vh;
    overflow-y: scroll;
}
#headerMenu:not([opened]){
    transform: translateX(-100%);
}
#headerMenu table{
    background-color: #fff;
    color: #000;
    border-collapse: collapse;
    min-width: 600px;
}
#DictionaryTable th{
    background-color: #e4f5f5;
}
#DictionaryTable td:last-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 2em;
}
#DictionaryTable input,#DictionaryTable select, #DictionaryTable>tfoot button{
    border: none;
    width: 100%;
    height: 2em;
    display: block;
    padding-left: 0.5em;
    box-sizing: border-box;
    font-size: 1em;
}
#headerMenu table th,#headerMenu table td{
    border: solid 1px  #4fa5a8;
}

#ListenList{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}
#ListenList>*,#ListenCategory>button{
    width: 100%;
}
#ListenList>button,#ListenCategory>button{
    border: none;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    height: 2rem;
}
#ListenCategory{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.InputField{
    border: solid 1px #ccc;
    display: grid;
    grid-template-columns: 1fr 3rem;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 2rem;
}
.InputField>input{
    min-width: 1rem;
    padding-left: 0.5rem;
}
.InputField>*{
    border: none;
}

main{
    box-sizing: border-box;
    padding-top: var(--header-height);
}

#Player{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0004;
    box-sizing: border-box;
    padding-top: var(--header-height);
}

#AudioContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.ArticleCard {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}
.Loading{
    animation: rotate_anime 2s steps(8, jump-none) infinite;
}
.AudioBox[loaded]>.Loading{
    display: none;
}

@keyframes rotate_anime {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}