<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        へっだ
    </header>
    <main>
        <div id="ListenList">
            <button onclick="">トレンド</button>
        </div>
        <div id="Player" style="display: none;">
            
        </div>
        
    </main>

    <script>
        function playCategory(keyword) {
            document.getElementById("Player").style.display="";
        }
    </script>
</body>
</html>