<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>情報技術ショート</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="headerMenuBtn">
            <i class="fas fa-bars"></i>
        </div>
        <div id="headerMenu">
            <div>
                <i class="fas fa-chevron-left headerMenuBtn"></i>
                <!-- ここに設定をおく -->
                <div>
                    <table id="DictionaryTable">
                        <thead>
                            <tr>
                                <th>単語</th>
                                <th>読み(カナ)</th>
                                <th style="width: 10%;">アクセント</th>
                                <th style="width: 10%;min-width: 6em;">種類</th>
                                <th style="width: 4em;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td>hoge</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr> -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="row" colspan="5"><button onclick="addRowInDictionaryTable()"><i class="fas fa-plus"></i></button></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                
            </div>
        </div>
    </header>
    <main>
        <div id="ListenList">
            <button onclick="playTrend(`Qiita`)">トレンド</button>
            <div class="InputField">
                <input id="KeywordInput" type="text" placeholder="検索キーワード"><button id="KeywordSubmit" onclick="searchButtonFunc(`Qiita`)"><i class="fas fa-search"></i></button>
            </div>
            <div id="ListenCategory">
                <!-- <div>
                    <button></button>
                    <button><i class="fas fa-times"></i></button>
                </div> -->
            </div>
            <div class="InputField">
                <input id="CategoryInput" type="text" placeholder="追加するキーワード"><button id="CategorySubmit" onclick="addCategoryButton()"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div id="Player" style="display: none;">
            <div id="AudioContainer"></div>
        </div>
        
    </main>

    <script>
        // -------------------------------初期化----------------------------------

        let Player = document.getElementById("Player");
        let AudioContainer = document.getElementById("AudioContainer");
        let ListenCategory = document.getElementById("ListenCategory");
        let DictionaryTable = document.getElementById("DictionaryTable");
        let DictionaryRowElement = document.createElement("tr");
        DictionaryRowElement.innerHTML = (`<td><input type="text"></td>`).repeat(2)
        +`<td><input type="number"></td><td><select>
            <option value="">指定なし</option>
            <option value="PROPER_NOUN">固有名詞</option>
            <option value="COMMON_NOUN">普通名詞</option>
            <option value="VERB">動詞</option>
            <option value="ADJECTIVE">形容詞</option>
            <option value="SUFFIX">語尾</option>
        </select></td><td><button><i class="fas fa-check"></i></button><button><i class="fas fa-times"></i></button></td>`;
        let CategoryBase = document.createElement("div");
        CategoryBase.innerHTML = `<button></button><button><i class="fas fa-times"></i></button>`
        let Dictionary = new Map();
        let CategoryArray = new Array();
        let PlayList={
            site:"",
            trend:"",
            keyword:"",
            currentIndex:0,
            pageNum:1,
            array:[],
        };
        
        Player.addEventListener("click",(e)=>{
            if(e.target==Player||e.target==AudioContainer){
                document.getElementById("Player").style.display="none";
            }
        });
        buttonOpenFunc("headerMenu","headerMenuBtn");

        document.getElementById("KeywordInput").addEventListener("keydown",(e)=>{
            if(e.key=="Enter"){
                document.getElementById("KeywordSubmit").dispatchEvent(new PointerEvent("click"));
                e.preventDefault();
            }
        });
        document.getElementById("CategoryInput").addEventListener("keydown",(e)=>{
            if(e.key=="Enter"){
                document.getElementById("CategorySubmit").dispatchEvent(new PointerEvent("click"));
                e.preventDefault();
            }
        });

        fetchJsonAsync(window.location.href+"api/dict","GET",null,(jsonObj)=>{
            Object.keys(jsonObj).forEach((key)=>{
                let value = jsonObj[key];
                Dictionary[key] = value;
                let rowElement = addRowInDictionaryTable();
                // console.log(value);
                rowElement.childNodes[0].firstChild.value = value.surface;
                rowElement.childNodes[1].firstChild.value = value.pronunciation;
                rowElement.childNodes[2].firstChild.value = value.accent_type;
                if(value.word_type!=""){
                    rowElement.childNodes[3].firstChild.value = value.word_type;
                }
                rowElement.setAttribute("word",key);
            });
        });
        (async()=>{
            if(window.localStorage["dictionary"]){
                await fetch(window.location.href+"api/dict/import",{method:"POST",body:window.localStorage["dictionary"]});
            }
            cachingDictionary();
        })()
        if(!window.localStorage["category"]){
            // カテゴリーのデフォルトデータ
            window.localStorage["category"]=JSON.stringify(["Ruby","Go","Java","JavaScript","Python","Docker"]);
        }
        CategoryArray = JSON.parse(window.localStorage["category"]);
        Array.from(CategoryArray).forEach((category,index)=>{
            let categoryParent = createCategory(category);
            CategoryArray[index] = {keyword:category,element:categoryParent};
            ListenCategory.appendChild(categoryParent);
        });


        // -------------------------------関数----------------------------------
        function createCategory(category) {
            let categoryParent = CategoryBase.cloneNode(true);
            categoryParent.firstChild.innerHTML = category;
            categoryParent.firstChild.addEventListener("click",()=>{
                playKeyword("Qiita",category);
            });
            categoryParent.lastChild.addEventListener("click",()=>{
                CategoryArray.splice(Array.from(CategoryArray).findIndex((e)=>{return e.element==categoryParent}));
                cachingCategoryArray();
                categoryParent.remove();
            });
            return categoryParent;
        }
        function addCategoryButton() {
            let category=document.getElementById("CategoryInput").value;
            if(category==""){
                return;
            }
            document.getElementById("CategoryInput").value = "";
            let categoryElement =createCategory(category);
            CategoryArray.push({keyword:category,element:categoryElement});
            ListenCategory.appendChild(categoryElement);
            cachingCategoryArray();
        }
        // カテゴリーデータのキャッシュを保存する関数
        function cachingCategoryArray() {
            let tmpArray = new Array()
            Array.from(CategoryArray).forEach((e)=>{
                tmpArray.push(e.keyword);
            });
            window.localStorage["category"] = JSON.stringify(tmpArray);
        }

        // ブラウザに辞書データをキャッシュする関数(辞書データがサーバーから消えないよう念のため)
        async function cachingDictionary() {
            let buffer = await fetchData(window.location.href+"api/dict?all=true","GET")
            let text = await new Blob([buffer]).text();
            window.localStorage["dictionary"]=text;
        }

        // 辞書に空の行を追加する関数
        function addRowInDictionaryTable() {
            let rowElement = DictionaryRowElement.cloneNode(true);
            DictionaryTable.getElementsByTagName("tbody")[0].appendChild(rowElement);
            rowElement.childNodes[4].firstChild.addEventListener("click",async()=>{
                let rawJson = JSON.stringify({
                    surface:rowElement.childNodes[0].firstChild.value,
                    pronunciation:rowElement.childNodes[1].firstChild.value,
                    accent_type:rowElement.childNodes[2].firstChild.value,
                    word_type:rowElement.childNodes[3].firstChild.value,
                });
                let buffer = await fetchData(window.location.href+"api/dict"+(rowElement.hasAttribute("word")?"?id="+rowElement.getAttribute("word"):""),"POST",rawJson);
                if(!rowElement.hasAttribute("word")){
                    let text = await new Blob([buffer]).text();
                    rowElement.setAttribute("word",text);
                }
                cachingDictionary();
            });
            rowElement.childNodes[4].lastChild.addEventListener("click",async()=>{
                if(rowElement.hasAttribute("word")){
                    await fetchData(window.location.href+"api/dict?id="+rowElement.getAttribute("word"),"DELETE");
                    cachingDictionary();
                    rowElement.remove();
                }
                
            });
            return rowElement;
        }

        // 検索ボタンの関数
        function searchButtonFunc(site) {
            playKeyword(site,document.getElementById("KeywordInput").value);
        }

        // トレンド記事を再生する関数
        async function playTrend(site) {
            if(!["Qiita"].includes(site)){
                return;
            }
            Player.style.display="";

            if(!(PlayList.site==site&&PlayList.trend)){
                PlayList.site = site;
                PlayList.trend = true;
                PlayList.keyword = null;
                PlayList.currentIndex = 0;
                PlayList.array = await fetchJsonAsync("/api/listtrend?site="+site,"GET");
                console.log(PlayList.array);
            }
            
            play();
        }

        // キーワードを元に記事を再生する関数
        async function playKeyword(site,keyword) {
            if(!["Qiita"].includes(site)){
                return;
            }
            Player.style.display="";
            let fetchFlag = false;
            if(PlayList.site!=site ||PlayList.trend||PlayList.keyword!=keyword){
                PlayList.site = site;
                PlayList.trend = false;
                PlayList.keyword = keyword;
                PlayList.currentIndex = 0;
                PlayList.pageNum = 1;
                fetchFlag = true;
                
            }else if((PlayList.array.length)%100==0&&PlayList.array.length<=PlayList.currentIndex+1){
                PlayList.pageNum = PlayList.array.length/100+1;
                PlayList.currentIndex = PlayList.array.length;
                fetchFlag = true;
            }

            if(fetchFlag){
                let url  = new URL(window.location.href+"api/list");
                url.searchParams.set("site","Qiita");
                url.searchParams.set("keyword",keyword);
                url.searchParams.set("page",PlayList.pageNum);
                let responseData = await fetchJsonAsync(url.href,"GET");
                if(!Array.isArray(responseData)){
                    PlayList.currentIndex = 0;
                    play();
                    return;
                }
                PlayList.array = PlayList.array.concat(responseData);
                console.log(PlayList.array);
            }

            play();
        }


        // 取得したプレイリストを基に記事を読み上げる
        async function play() {
            if(PlayList.array.length!=0){
                if (PlayList.array.length<=PlayList.currentIndex){
                    if(PlayList.trend){
                        return;
                    }
                    playKeyword(PlayList.site,PlayList.keyword);
                    return;
                }
                if("audioElement" in PlayList.array[PlayList.currentIndex] && "titleAudioElement" in PlayList.array[PlayList.currentIndex]){
                    if(PlayList.array[PlayList.currentIndex].audioElement.paused&&PlayList.array[PlayList.currentIndex].titleAudioElement.paused){
                        PlayList.array[PlayList.currentIndex].titleAudioElement.currentTime = 0;
                        PlayList.array[PlayList.currentIndex].titleAudioElement.play();
                    }
                    
                    return;
                }
                if("loaded" in PlayList.array[PlayList.currentIndex]){
                    if(!PlayList.array[PlayList.currentIndex].loaded){
                        return;
                    }else{
                        console.warn("AudioElements is deleted.");
                        console.warn(PlayList.array[PlayList.currentIndex]);
                    }
                }
                let url  = new URL(window.location.href+"api/voice");
                url.searchParams.set("site","Qiita");
                url.searchParams.set("id",PlayList.array[PlayList.currentIndex].id);
                console.log(url.href);

                // 記事情報のカードを作成
                let cardData = createArticleCard(PlayList.array[PlayList.currentIndex]);
                AudioContainer.appendChild(cardData.parent);

                PlayList.array[PlayList.currentIndex].loaded = false;

                // 要約文と読み上げデータを取得
                let MultipartData = await fetchMultipartData(url.href,"GET");

                // 取得したデータから残りの情報をカードに追加

                cardData.context.innerHTML = await MultipartData.get("summarizedText").text();
                let titleAudioElement = new Audio(URL.createObjectURL(MultipartData.get("titleVoiceData")));
                let audioElement = new Audio(URL.createObjectURL(MultipartData.get("voiceData")));
                cardData.titleAudio.appendChild(titleAudioElement);
                cardData.audio.appendChild(audioElement);
                cardData.titleAudio.setAttribute("loaded",'');
                cardData.audio.setAttribute("loaded",'');

                titleAudioElement.controls = true;
                titleAudioElement.autoplay = true;
                titleAudioElement.addEventListener("ended",(e)=>{
                    audioElement.currentTime=0;
                    audioElement.play();
                });
                audioElement.controls = true;
                let tmpIndex = PlayList.currentIndex;
                audioElement.addEventListener("ended",(e)=>{
                    PlayList.currentIndex=tmpIndex+1;
                    play();
                });
                PlayList.array[PlayList.currentIndex].titleAudioElement = titleAudioElement;
                PlayList.array[PlayList.currentIndex].audioElement = audioElement;
                PlayList.array[PlayList.currentIndex].loaded = true;

                
            }
        }

        // 記事カードの作成関数
        function createArticleCard(ArticleData) {
            let card = document.createElement("article");
            card.classList.add("ArticleCard");

            let titleElement = document.createElement("h2");
            titleElement.innerHTML=ArticleData.title;
            card.appendChild(titleElement);

            let authorElement = document.createElement("p");
            authorElement.innerHTML = `作成者:<a href="https://qiita.com/${ArticleData.author}" target="_blank" rel="noopener noreferrer">@${ArticleData.author}</a>`;
            card.appendChild(authorElement);

            let urlElement = document.createElement("p");
            urlElement.innerHTML = `<a href="${ArticleData.url}" target="_blank" rel="noopener noreferrer">記事リンク🔗</a>`;
            card.appendChild(urlElement);

            let contextElement = document.createElement("div");
            card.appendChild(contextElement);
            let titleAudioBox = document.createElement("div");
            titleAudioBox.innerHTML = `<span>タイトル</span><i class="fas fa-spinner Loading"></i>`;
            titleAudioBox.classList.add("AudioBox");
            card.appendChild(titleAudioBox);
            let audioBox = document.createElement("div");
            audioBox.innerHTML = `<span>要約文</span><i class="fas fa-spinner Loading"></i>`;
            audioBox.classList.add("AudioBox");
            card.appendChild(audioBox);
            return {parent: card, context: contextElement,titleAudio:titleAudioBox,audio:audioBox};
        }

        async function fetchJsonAsync(apiPath,method,formData,onDoneFunc) {
            let result;
            let reader = await fetch(apiPath,{
                method: method,
                body: formData
            }).then((res)=>res.body.getReader());
            let decoder = new TextDecoder();
            let resultText ='';
            async function readChunk({done,value}){
                if(done){
                    let jsonObj = JSON.parse(resultText);
                    if(onDoneFunc==null){
                        result = jsonObj;
                    }else{
                        result = await onDoneFunc(jsonObj);
                    }
                    return;
                }
                resultText+=decoder.decode(value);
                await reader.read().then(readChunk);
            }
            await reader.read().then(readChunk);
            return result;
        }

        async function fetchData(apiPath,method,formData,onDoneFunc) {
            return await fetch(apiPath,{
                method: method,
                body: formData
            }).then((res)=>res.arrayBuffer());
        }

    // マルチパートレスポンスを受け取る関数
    async function fetchMultipartData(apiPath,method,formData) {
        return await fetch(apiPath,{
            method: method,
            body: formData
        }).then((res)=>res.formData());
    }

    // メニューを開くための機能をつける関数
    function buttonOpenFunc(openTargetId,openButtonsClass) {
        let openTarget = document.getElementById(openTargetId);
        let openButtons = document.getElementsByClassName(openButtonsClass);
        Array.from(openButtons).forEach(button => {
            button.addEventListener('click',()=>{
                if(openTarget.hasAttribute("opened")){
                    openTarget.removeAttribute("opened");
                }else{
                    openTarget.setAttribute("opened",'');
                }
            });
        });
        document.addEventListener('click',(e)=>{
            if(!e.target.closest('#'+openTargetId)&&!e.target.closest('.'+openButtonsClass)){
                openTarget.removeAttribute("opened");
            }
        })
    }
    
    </script>
</body>
</html>